.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

/* change the background , to 0.5  ot 0.3 if you feel its to dark) */
/* The backdrop should take full page width and height  
it should also have some background color,
it should overlap other element but ofcourse not the side drawr
*/
